<span *ngIf="isFolder">
    <i class="fas fa-folder" aria-hidden="true" *ngIf="!expanded"></i>
    <i class="fas fa-folder-open" aria-hidden="true" *ngIf="expanded"></i>
</span>

<span *ngIf="isNonRegressionRequirement">
    <i class="fas fa-file"></i>    
</span>

<span *ngIf="isRegressionRequirement">
    <i class="fas fa-file-alt"></i>    
</span>

<span *ngIf="isCEGModel">
    <i class="fas fa-project-diagram" aria-hidden="true"></i>
</span>

<span *ngIf="isManualTestSpecification">
    <i class="fas fa-align-justify" aria-hidden="true"></i>
</span>

<span *ngIf="isGeneratedTestSpecification">
    <i class="fas fa-indent" aria-hidden="true"></i>
</span>

<span *ngIf="isProcess">
    <i class="fas fa-random" aria-hidden="true"></i>
</span>

<span *ngIf="isTestProcedure">
    <i class="fas fa-list-ol" aria-hidden="true"></i>
</span>

<span *ngIf="isRecycled">
    <i class="fas fa-arrow-right" aria-hidden="true"></i>
    <i class="fas fa-trash" aria-hidden="true"></i>
</span>